*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header{
  width: 100%;
  background-image: url('https://fastpasstours.com/166/biglietto-salta-fila-visita-alla-torre-eiffel-e-crociera-sulla-senna.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.menu{
  width: 100%;
  background: rgba(255,255,255,.7);
  position: sticky;
  top: 0px;
  z-index: 999;
}
.container{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage > .menu > .container > .home_logo > .fa-home{
  font-size: 30px;
  margin-right: 20px;
}
.homepage .fa-bars{
  font-size: 20px;
}
.homepage .fa-bars:hover{
  cursor: pointer;
}

#menu{
  display: none;
}
ul li{
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px;
}
 a{
  text-decoration: none;
  color: #000;
}


/*Box offerta*/
.box-offerta{
  position: absolute;
  top: 100px;
  left: 5%;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,.7);
}
.box-offerta h3{
  padding: 10px;
}
.img-offerta_prezzo{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.img-offerta_prezzo img{
  width: 50%;
  height: 100px;
  background-size: cover;
}
.subtitle{
  font-size: 12px;
}
.box-benefit{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.box-benefit .fas{
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.btn-prenota{
  width: 50%;
  border-radius: 20px;
  background: #3F0D12;
  color: #fff;
  padding: 2px;
  margin: auto;
  text-align: center;

}

/*section prenotazione*/
.prenotazione{
  height: 300px;

}
.prenotazione .title{
  margin:auto;
  padding: 20px;
  text-align: center;
}
.box-prenotazioni{
  max-width: 450px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.box-prenotazioni input{
  width: 50%;
}
.box-prenotazioni .send{
  width: 30%;
  margin-top: 20px;
  border-radius: 20px;
}


/*section in evidenza*/
.evidenzia{
  width: 100%;
  margin-top: 5%;
}
.evidenzia .container-evidenzia{
  width: 90%;
  margin: auto;
}
.evidenzia h3{
  width: 100%;
  padding: 5px;
}
.box-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-appartamento{
  width: 200px;
  /* height: 300px; */
  margin-bottom: 20px;
}
.dettagli > i {
  font-size: 15px;
}
.img-evidenza img{
  width: 100%;
  height: 200px;
  background-size: cover;
}
/*section località*/
.località{
  width: 100%;
}
.località .container-località{
  width: 90%;
  margin: auto;
}
.località h3{
  padding: 5px;
  width: 100%;
}
.località > .container-località > .box-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-città{
  width: 24%;
  height: 300px;
  margin-bottom: 20px;
}
.img-city img{
  width: 100%;
  height: 250px;
  background-size: cover;
}
.galleria div:hover{
  filter: brightness(70%);
}





/*Footer*/
.footer h6{
  text-align: center;
  width: 100%;
  padding: 5px;
}
