// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.wanna_promote.hide {
	visibility: hidden;
}

//inclusioni dario
@import "partials/headerInterno";
@import "partials/searchInterno";
@import "partials/result";
@import "partials/spinner";
@import "partials/dashboard";
