*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.offerta{
  width: 100%;
  background-image: url('https://besthqwallpapers.com/Uploads/13-8-2017/18370/thumb2-summer-vacation-beach-sand-beach-accessories-sea.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.menu{
  width: 100%;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  position: sticky;
  top: 0px;
  z-index: 1;
}
.container-nav{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    .fa-home{
      font-size: 30px;
      margin-right: 20px;
    }
  }
}

.menu .fa-bars{
  font-size: 20px;
}
.menu .fa-bars:hover{
  cursor: pointer;
}
.primary-menu {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 2;
  right: 0%;
  width: 300px;
  transition-duration: .7s;
}
.primary-menu.active {
  height: inherit;
  display: block;
  transition-duration: .7s;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.primary-menu nav {
  text-align: center;
  width: 300px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ul li {
  list-style-type: none;
  text-transform: uppercase;
  padding: 10px 10px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}




/*Box offerta*/
.box-offerta {
  position: absolute;
  top: 100px;
  left: 5%;
  width: 300px;
  height: 360px;
  background: rgba(255, 255, 255, .7);
  box-shadow:0 -3px 31px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
  overflow: hidden;
  h3 {
    padding: 10px;
  }
}

@media screen and (max-width: 550px){
  .box-offerta{
    width:90%;
  }
}

.img-offerta_prezzo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.img-offerta_prezzo {
  img {
    width: 70%;
    height: 150px;
    object-fit: cover;
  }
}
.subtitle {
  font-size: 12px;
}

.box-benefit {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.box-icone {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.box-benefit .fas {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.prenota {
  width: 50%;
  border-radius: 20px;
  background: #3F0D12;
  color: #fff;
  padding: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  border:none;
}



/*section prenotazione*/
.prenotazione {
  height: 380px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#wrap_form{
  width: 60%;
  margin: 5px auto;
}
.prenotazione .title {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.box-prenotazioni {
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}

.prenotare, .flatpickr {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  text-align: center;
}


.send {
  width: 80px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 20px;
  border-color: #3F0D12;
  background: #3F0D12;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  #wrap_form {
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  #wrap_form {
    width: 90%;
  }
}
@media screen and (max-width: 750px) {
  #wrap_form {
    width: 100%;
  }
  .box-prenotazioni {
    max-width: 80%;
  }

}
@media screen and (max-width: 550px) {

  .box-prenotazioni {
    max-width: 90%;
  }
  .prenotazione {
    height: 600px;
  }
  .prenotazione .title{
    padding: 70px 10px;
  }
  .prenotare, .flatpickr{
    max-width: 90%;
    margin: 5% 5%;
  }



 // .prenotare{
 //   max-width: 70%;
 //   margin: 10px auto;
 // }

}



/*section in evidenza*/
.evidenzia{
  width: 100%;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.evidenzia .container-evidenzia{
  width: 90%;
  margin: auto;
}

.evidenzia h3{
  width: 100%;
  padding: 5px;
}

.box-card-app{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-appartamento{
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  box-shadow:0 -3px 31px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  .card-appartamento:hover {
    cursor: pointer;
  }
}


.card-appartamento {
   img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width: 990px) {
  .card-appartamento {
    width: 48%;
  }
}

@media screen and (max-width: 650px) {
  .card-appartamento {
    width: 100%;
  }
}

.testo {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: rgba(255, 255, 255, .7);
}

.recensione {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valutazione {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descrizione-stanza {
  margin-left: 10px;
  padding: 5px;
  font-weight: bold;
}

.descrizione {
  margin-right: 8px;
}

 .dettagli {
   i {
  margin-right: 0px;
  font-size: 15px;
  }
}

/* .img-evidenza img{
  width: 100%;
  height: 200px;
  background-size: cover;
}  */




/*section località*/
.localita{
  width: 100%;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.localita .container-localita{
  width: 90%;
  margin: auto;
}
.localita {
  h3{
    padding: 5px;
    width: 100%;
  }
}
.box-card-cit{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-citta{
  width: 24%;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  box-shadow:0 -3px 31px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  .card-citta:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 1000px){
  .card-citta{
    width: 48%;
  }
}
@media screen and (max-width: 550px){
  .card-citta{
    width:100%;
  }
}

.img-city{
    img{
    width: 100%;
    height: 300px;
    background-size: cover;
  }
}
.galleria .card-citta:hover{
  filter: brightness(70%);
  color: #fff;
}
h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.contenuto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Footer*/
.footer {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  h6{
    text-align: center;
    width: 100%;
    padding: 5px;

  }
}
