* {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.offerta {
	position: relative;
	width: 100%;
	height: 500px;
	background-image: url('https://besthqwallpapers.com/Uploads/13-8-2017/18370/thumb2-summer-vacation-beach-sand-beach-accessories-sea.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.menu {
	position: sticky;
	top: 0px;
	z-index: 1;
	width: 100%;
	background: #ECE9E6;
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.container-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 90%;
	margin: auto;
}

.home_logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu > .container-nav > .home_logo > a > .fa-home {
	font-size: 30px;
	margin-right: 20px;
}

.menu .fa-bars {
	font-size: 20px;
}

.menu .fa-bars:hover {
	cursor: pointer;
}

.primary-menu {
	display: none;
	position: absolute;
	top: 50px;
	right: 0%;
	z-index: 2;
	width: 300px;
	transition-duration: .7s;
}

.primary-menu.active {
	display: block;
	transition-duration: .7s;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.primary-menu nav {
	width: 300px;
	height: 300px;
	text-align: center;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul li {
	width: 100%;
	padding: 10px 10px;
	list-style-type: none;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000;
}

/*Box offerta*/
.box-offerta {
	position: absolute;
	top: 100px;
	left: 5%;
	width: 300px;
	height: 360px;
	overflow: hidden;
	border-radius: 5px;
	background: rgba(255, 255, 255, .7);
	box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, .3);
}

.box-offerta h3 {
	padding: 10px;
}

@media screen and (max-width: 550px) {
	.box-offerta {
		width: 90%;
	}
}

.img-offerta_prezzo {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.img-offerta_prezzo img {
	width: 70%;
	height: 150px;
	object-fit: cover;
}

.subtitle {
	font-size: 12px;
}

.box-benefit {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
}

.box-icone {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;

}

.box-benefit .fas {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 10px;
}

.prenota {
	display: flex;
	justify-content: center;
	width: 50%;
	margin: auto;
	padding: 5px;
	color: #fff;
	border: none;
	border-radius: 20px;
	background: #3F0D12;
}

/*section prenotazione*/
.prenotazione {
	height: 300px;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.prenotazione .title {
	margin: auto;
	padding: 20px;
	text-align: center;
}

.box-prenotazioni {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 450px;
	margin: auto;
	padding: 20px;
}

.box-prenotazioni .prenotare {
	width: 45%;
	margin-bottom: 10px;
}

.box-prenotazioni .send {
	display: flex;
	justify-content: center;
	width: 30%;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
	cursor: pointer;
	color: #fff;
	border: none;
	border-radius: 20px;
	background: #3F0D12;
}

/*section in evidenza*/
.evidenzia {
	width: 100%;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.evidenzia .container-evidenzia {
	width: 90%;
	margin: auto;
}

.evidenzia h3 {
	width: 100%;
	padding: 5px;
}

.box-card-app {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-appartamento {
	position: relative;
	width: 200px;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-appartamento:hover {
	cursor: pointer;
}

.card-appartamento > img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

@media screen and (max-width: 990px) {
	.card-appartamento {
		width: 48%;
	}
}

@media screen and (max-width: 650px) {
	.card-appartamento {
		width: 100%;
	}
}

.testo {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, .7);
}

.recensione {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.valutazione {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.descrizione-stanza {
	font-weight: bold;
	margin-left: 10px;
	padding: 5px;
}

.descrizione {
	margin-right: 8px;
}

.dettagli > i {
	font-size: 15px;
	margin-right: 0px;
}

/* .img-evidenza img{
  width: 100%;
  height: 200px;
  background-size: cover;
}  */

/*section località*/
.localita {
	width: 100%;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.localita .container-localita {
	width: 90%;
	margin: auto;
}

.localita h3 {
	width: 100%;
	padding: 5px;
}

.box-card-cit {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-citta {
	position: relative;
	width: 24%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.card-citta:hover {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.card-citta {
		width: 48%;
	}
}

@media screen and (max-width: 550px) {
	.card-citta {
		width: 100%;
	}
}

.img-city > img {
	width: 100%;
	height: 300px;
	background-size: cover;
}

.galleria .card-citta:hover {
	color: #fff;
	filter: brightness(70%);
}

h4 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.contenuto {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Footer*/
.footer {
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.footer h6 {
	width: 100%;
	padding: 5px;
	text-align: center;

}
