.formRicerca {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  // background-color: red;
  form {
    text-align: center;
    width: 100%;
    //background-color: yellow;
    .errore {
      border: 2px solid red;
    }
  }
}
